name: create release binaries

on:
  release:
    types:
      - published

jobs:
  linux:
    name: create linux binaries
    runs-on: ubuntu-20.04
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: get release version
        id: release_version
        run: echo VERSION=${GITHUB_REF/refs\/tags\/v/} >> $GITHUB_ENV
      - name: build amd64
        run: |
          set -eu
          bazelisk build //:bazel-remote-linux-amd64
          bazelisk run --run_under "cp -f " //:bazel-remote-linux-amd64 $(pwd)/bazel-remote-${{ env.VERSION }}-linux-x86_64
      - name: build arm64
        run: |
          set -eu
          bazelisk build //:bazel-remote-linux-arm64
          bazelisk run --run_under "cp -f " //:bazel-remote-linux-arm64 $(pwd)/bazel-remote-${{ env.VERSION }}-linux-arm64
      - name: upload linux binaries
        id: upload-release-assets-linux
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: bazel-remote-${{ env.VERSION }}-linux-*
          overwrite: true
          tags: true

  mac:
    name: create mac binaries
    runs-on: macos-11
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: get release version
        id: release_version
        run: echo VERSION=${GITHUB_REF/refs\/tags\/v/} >> $GITHUB_ENV
      - name: build amd64
        run: |
          set -eu
          bazelisk build //:bazel-remote-darwin-amd64
          bazelisk run --run_under "cp -f " //:bazel-remote-darwin-amd64 $(pwd)/bazel-remote-${{ env.VERSION }}-darwin-amd64
      - name: build arm64
        run: |
          set -eu
          bazelisk build //:bazel-remote-darwin-arm64
          bazelisk run --run_under "cp -f " //:bazel-remote-darwin-arm64 $(pwd)/bazel-remote-${{ env.VERSION }}-darwin-arm64
      - name: upload darwin binaries
        id: upload-release-assets-darwin
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: bazel-remote-${{ env.VERSION }}-darwin-*
          overwrite: true
          tags: true
